.carousel-inner {
  width: 92% !important;
  padding-left: 170px;
}
.carousel-control-prev {
  left: 100px !important;
}

.carousel-control-next {
  right: 100px !important;
}
.carousel h3, .carousel p{
  color: rgb(146, 130, 100);
}
.goToContact{
  font-weight: bold;
  font-style: italic;
  color: rgb(187, 161, 121);
}
.goToContact:hover{
  color: rgb(141, 100, 38);
}
@media only screen and (max-width: 768px) {
  .carousel-inner {
    width: 100% !important;
    padding-left: 1px;
    padding-right: 1px;
  }

  .carousel-control-prev {
    left: 50px !important;
  }

  .carousel-control-next {
    right: 50px !important;
  }
}
